.hello{
    color: white;
}

.introductionSection {
  padding: 20px;
  display: flex;
  justify-content: space-between;  /* Distribute content with space between */
  margin-top: 70px;

  }

  .content {
    width: 80%;         /* Default width for larger screens */
    padding: 20px;
  }
  
  main > * {
    margin-bottom: 10px; /* Adds space below each element inside <main> */
  }

