/* Basic Top Navigation */
.header{ 
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-between;
    width: 100%; /* Ensure the nav takes full width of the page */
    align-items: center;
    height: 100px;
    position: fixed;
    top:  0;
    z-index: 1000;
}

.logoSite{
    margin-left: 20px;
}

nav {
  
    text-align: center;
    position: relative; /* This will place it at the top without fixed positioning */
 
  }
  
  nav ul {
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the nav items horizontally */
  }
  
  nav ul li {
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    text-align: center;
    list-style: none;
    cursor: pointer;
  }
  
  nav a {
    color: blac;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ddd;
  }
  