.header{
  display: flex;
  background-color: #1d2d44;
  color: white;
  justify-content: space-between;
  width: 100%; /* Ensure the nav takes full width of the page */
  align-items: center;
  height: 100px;
  position: fixed;
  top:  0;
  z-index: 1000;

}

/* Basic styles for the menu */
ul.menu {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Default to horizontal layout */
  justify-content: space-around; /* Space out menu items */
  background-color: #1d2d44;
}

ul.menu li {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.menu-toggle {
  display: none; /* Hide toggle button on desktop */
  background-color: #1d2d44;
  color: white;
  border: none;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
  padding: 20px;
}

/* Mobile styling: hide the menu by default */
@media (max-width: 768px) {
  ul.menu {
    display: none; /* Hide menu by default on small screens */
    flex-direction: column; /* Stack items vertically */
    width: 100%;
    background-color: #1d2d44;
    margin-top: auto;
  }

  ul.menu.open {
    display: flex; /* Show menu when the 'open' class is added */
  }

  ul.menu li {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #444;
    cursor: pointer;
  }

  .menu-toggle {
    display: block; /* Show toggle button on mobile */
  }
}
.headerNav{
  display: flex;
  background-color: #1d2d44;
  color: white;
  justify-content: space-between;
  width: 100%; /* Ensure the nav takes full width of the page */
  align-items: center;
  height: 100px;
  position: fixed;
  top:  0;
  z-index: 1000;
}
